# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/

# Environment variables
.env
.env.*

# macOS
.DS_Store

# Logs
*.log

# Databases
*.db
*.sqlite
*.sqlite3

# Security keys and certificates
*.pem
*.key
*.p12
*.pfx
*.crt
*.cer

# VS Code
.vscode/

# Temporary files
*.tmp
*.bak